# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.vscode/

media/

staticfiles/
*.css.map
*.js.map

*.mo
*.pot

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

pip-log.txt
pip-delete-this-directory.txt

*.manifest
*.spec

**/migrations/*.py
!**/migrations/__init__.py

*.log
*.pot
*.pyc
*.pyo
*.pyd
*.cover
.coverage
.coverage.*
*.spec
*.hdf5
*.h5
*.hdf
*.h5
*.lock
celerybeat-schedule
db.sqlite3
db.sqlite3-journal

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

*.so

__pycache__/
*.py[cod]
*$py.class
